params {
    images = [
        ubuntu:                'ubuntu:22.04',
        diann:                 'quay.io/protio/diann:1.8.1',
        carafe:                'quay.io/protio/carafe:0.0.1-2',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        encyclopedia:          'quay.io/protio/encyclopedia:2.12.30-2',
        proteowizard:          'quay.io/protio/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24172-63d00b1'
    ]
}
