//
// A sample pipeline.config for running the nf-carafe-ai-ms Nextflow workflow.
//
// See https://nf-carafe-ai-ms.readthedocs.io/en/latest/workflow_parameters.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // if this is set, diann-will be skipped and these results will be used
    // for example, results.tsv from DIA-NN
    peptide_results_file = null  

    // specify EITHER spectra_file (single file) OR spectra_dir (directory), not both
    spectra_file = '/path/to/file.raw'         // path to a single raw or mzML file
    //spectra_dir = '/path/to/spectra_dir'     // path to a directory of raw or mzML files
    //spectra_dir_glob = '*.raw'               // glob to select files from spectra_dir (default: '*.raw')

    // the target of the output spectral library, must be one of 'diann' or 'encyclopedia'
    output_format = 'encyclopedia'
    
    // parameters related to DIA-NN
    diann_fasta_file = null      // FASTA file used by DIA-NN, if null carafe_fasta_file will be used.
    diann_params = '--unimod4 --qvalue 0.01 --cut \'K*,R*,!*P\' --reanalyse --smart-profiling'

    // parameters related to Carafe
    carafe_fasta_file = null     // FASTA used by Carafe

    // Carafe command line options. The defaults in the workflow are sensible for most general
    // DIA searches. See: https://github.com/Noble-Lab/Carafe
    // Do not set the following params here, they are managed by the workflow:
    // -mode, -varMod, -maxVar, -ms, -db, -i, -se, -lf_type, -device
    //cli_options = '-fdr 0.01 ...'

    // Set to true to include phosphorylation or oxidized methionine modifications
    // in the generated spectral library.
    //include_phosphorylation = true
    //include_oxidized_methionine = true

    // Max variable modifications per peptide. Ignored if no variable modifications enabled.
    //max_mod_option = '-maxVar 1'

    // parameters related to msconvert
    msconvert.do_demultiplex = true
    msconvert.do_simasspectra = true
}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '8.GB'
        params.max_cpus = 4
        params.max_time = '240.h'

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}

// advanced config: change settings to match your email provider to send emails
mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
