//
// A sample pipeline.config for running the nf-carafe-ai-ms Nextflow workflow.
//
// See https://nf-carafe-ai-ms.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // if this is set, diann-will be skipped and these results will be used
    // for example, results.tsv from DIA-NN
    peptide_results_file = null  

    // the data to be searched by DIA-NN
    spectra_dir = null      // directory containing the raw scan data for the dia-nn search
    spectra_glob = '*.raw'  // which files in this directory to use
    
    // parameters related to DIA-NN
    diann_fasta_file = null      // FASTA file used by DIA-NN
    diann.params = '--unimod4 --qvalue 0.01 --cut \'K*,R*,!*P\' --reanalyse --smart-profiling'

    // parameters related to Carafe
    carafe_fasta_file = null     // FASTA used by Carafe, if set to null will use diann_fasta_file
    carafe_cli_options = ''      // if set, these command line options will be used by Carafe 
                                 // note: the workflow sets the -db and -i parameters, do not set these

}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '8.GB'
        params.max_cpus = 4
        params.max_time = '240.h'

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-skyline-dia-ms/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

// advanced config: change settings to match your email provider to send emails
mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}